* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 125vh;
    background-color: rgb(211, 109, 109);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    height: 80px;
    margin: auto;
    padding:0;
    background-color: rgb(201 49 49);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo {
    width: 80px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.5s ease-out;
}
.navbar ul li:hover::before {
    width: 100%;
}

.main {
    width: 80%;
    height: 70%;
}

.section-container {
    width: 100%;
    height: 500px;
    background-color:rgb(211, 109, 109);
}
.article {
    width:60%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 30px;
    margin-left:20%;
    margin-right:20%;
    display: flex;
    flex-direction: column;
}

.article h2 {
    text-shadow: 7px 3px 6px #000;   
}

.article p {
    margin:40px 0 20px 0;
}
#Botones {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    margin:40px 0 40px 0;
}

.button {
    background-color: rgb(179, 50, 50);
    color:#ffff;
    display: inline-flex;
    justify-content: center; 
    font-size: large;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    margin: 10px; 
    box-shadow: 7px 3px 6px #000;
    transition: .3s ease all;
}

.button:hover {
    background: red;
}

.material-symbols-outlined{
    margin-left: 10px;
}

.card__container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
}

.description__section {
    width: 100%;
    height: 600px;
    background-color: rgb(221, 51, 51);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}

.description__section h2 {
    color: white;
    text-shadow: 7px 3px 6px #000;
    margin-top: 40px;
}

.description__section h3 {
    color: white;
    margin-top: 40px;
    margin-bottom: 100px;
}
.img-card {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 25%;
    box-shadow: 7px 3px 6px #000;
}

.card {
    width: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

}

.card h4 {
    color: white;
    text-shadow: 7px 3px 6px #000;
}

.card p {
    color:white
}

.footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer h2{
    color: white;
    text-shadow: 7px 3px 6px #000;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.footer h3{
    color: white;
    margin-bottom: 10px;
    margin-left: 20px;
}
.footer span {
    margin-top: 20px;
}


.img-footer {
    width: 200px;
    margin-top: 50px;
    margin-right: 40px;
}

.footer-item {
    color: black;
    text-decoration: none;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -10px;
}