* {
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    height: 125vh;
    background-color: rgb(211, 109, 109);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    height: 80px;
    margin: auto;
    padding:0;
    background-color: rgb(201 49 49);
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.logo {
    width: 80px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.8s ease-out;
}
.navbar ul li:hover::before {
    width: 100%;
}

.main {
    width: 40%;
    height: 30%;
}
.article {
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 30px;
}

#Botones {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    margin:40px 0 40px 0;
}

.button1 {
    background-color: rgb(179, 50, 50);
    color:#ffff;
    display: inline-block; 
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    
}
.button2 {
    background-color: rgb(179, 50, 50);
    color:#ffff;
    display: inline-block; 
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;

}
.button3 {
    background-color: rgb(179, 50, 50);
    color:#ffff;
    display: inline-block; 
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;

}

#content1{
    height: 25%;
    width: 70%;
    border: 2px solid black;
    border-radius: 20%;
    margin-top: 20px;
}
.article1 {
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    background:red;
    margin-top: 40px;
}
